#aboutH1{
    font-family: 'Montserrat', sans-serif;
  
    margin-left: 90px;
}
#aboutss{
    margin: 0 !important;
   
}
#photos3{
    margin-left: 130px;
}
#paragraph{
    font-family: 'Montserrat', sans-serif;

    margin-left: 90px;

}
#special{
    color: #D23C3C;
}


  @media screen and (max-width: 600px) { 
    #photos3{
   width:300px !important;
  
  }
  #paragraph{
    width: 300px !important;
  }
}
@media screen and (max-width: 500px) { 
    #photos3{
   width:300px !important;
  
  }
}