
#liste{
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
 padding-right: 20px;
 
}
#modalcontainer{
  margin-top: 0px !important;
}
.item{
  color: #D23C3C;
  display: inline;
  
}
select{
  margin-top: 0px !important;
}
.select{
  margin-top: 24px !important;
}
.active{
  text-decoration: underline;
}
#baslik{

  font-family: 'Montserrat', sans-serif;
}


.buttn{
  width: 110px !important;
  height: 35px !important;
  border: none;
  background-color: #D23C96 !important ;
  font-family: 'Montserrat', sans-serif;


}

.modal {
  background-color: rgba(0,0,0,.0001) !important;
  
}
.check{
  color: #D23C3C;
}
.form-check-input:checked{
  background-color: #D23C3C !important;
}
#city{
  width: 300px !important;
}
#confidentiality{
 width: 450px !important;
}

#buttonreset{
  border: none;
}


#LoginBTN{
  width: 100px !important;
 background-color:  #D23C96 !important;
 border: none !important;
}
#signupBTN{
  width: 150px !important;
  background-color:  #D23C96 !important;
  border: none !important;
}
.modal-header {
  border: 0px !important;
  border-radius: 25px !important;
}
.modal-content {
  background-color: transparent !important;
  border: 0px !important;
  
}

/* PROFILE MODAL */
.profile-modal {
  width: 256px;
  height: 423px;
  border-radius: 7px !important;
  align-items: center;
  justify-content: center;

}

.filter-modal {
  width: 300px;
  height: 400px;
  border-radius: 7px !important;
  align-items: center;
  justify-content: center;

}


/* REGISTER MODAL - REGISTER MODAL - REGISTER MODAL */
#registerBTN1{
  background-color: #D23C96 !important ;
  font-family: 'Montserrat', sans-serif;
  border: none !important;
}
#registerBTN2{
  background-color: #D23C96 !important ;
  font-family: 'Montserrat', sans-serif;
  border: none !important;
}

#buttonreset2{
  float: left !important;
  border: none !important;
  margin-right: 185px !important;
}

#registerSumbit{
  background-color: #D23C96 !important ;
  font-family: 'Montserrat', sans-serif;
  border: none !important;
  width: 100px !important;
}
#gender{
  width: 400px !important;
}
#country{
  width:  400px !important;
}
#city{
  width:  400px !important;
}
.logo{
  width: 200px;
}
#signupbold{
  color: #fff !important;
  background-color: #D23C96 !important ;
}
#loginbold{
  color: #fff !important;
  background-color: #D23C96 !important ;
}


 @media screen and (max-width: 1180px) {
  .buttn {
   
    margin-top: 10px !important;
  }
}
@media screen and (max-width: 990px) { 
  #liste{
    margin-left: 20px !important;
  }
  #country{
    width: auto !important; 
  
  }
  #firstname{
    width: 190px !important;
  }
  #lastname{
    width: 190px !important;
  }
  #city{
    width: 190px !important;
  }
  #emailed{
    width: 190px !important;
  }
  #gender{
    width: 250px !important;
  }
  #pass{
    width: 190px !important;
  }
  #confidentiality{
    width: 195px !important;
  }
}
@media screen and (max-width: 500px) { 
  #password{
  width: 300px !important;
  }
  #email{
    width: 300px !important;
  }
#signupModal{
  width: auto!important;
  height: auto !important;
}
#country{
  width: auto !important; 

}

#gender{
  width: auto !important;
}
#city{
  width: auto !important;
}
#flexCheckpromotional2{
  width: 500px  !important;
}

}

@media screen and (max-width: 1024px) {
  #confidentiality{
    width: 300px !important;
  }
  #firstname{
    width: 250px !important;
  }
  #lastname{
    width: 250px !important;
  }
  #pass{
    width: 250px !important;
    }
    #emailed{
      width: 250px !important;
    }
    #city{
      width: 250px !important;
    }

    
  }

  @media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .profile-modal,
    .filter-modal {
      width: 80%; /* Adjust the width as needed */
      max-width: 90%;
      height: auto; /* Auto height */
    }
  
    /* Modify other styles as needed */
  }
  
  /* Media query for even smaller screens */
  @media screen and (max-width: 480px) {
    /* Further adjustments for smaller screens */
    .profile-modal,
    .filter-modal {
      width: 90%; /* Adjust the width as needed */
      max-width: 100%;
    }
  
    /* Modify other styles as needed */
  }